body{
    background-color: lavender; 
    text-align: center;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
}
header{
    background-color: lavender;
    color: rgb(128, 92, 136);
    text-align: center;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
}
p{
    background-color: lavender;
    color: rgb(128, 92, 136);
    text-align: center;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
nav {
    background-color: lavender;
    color: rgb(128, 92, 136);
    text-align: center;
    margin: 0 auto;
}
nav a{
    background-color: lavender;
    color: rgb(128, 92, 136);
    text-align: center;
    margin: 0 auto;
}
.resize {
    width: 250px;
    height: auto;
    margin: 0 auto;
}

#AboutMe img {
    width: 250px;
    height: auto; 
}

#Projects img {
    width: 250px;
    height: auto;
}

#Hobbies img {
    width: 250px;
    height: auto;
}

#ContactInfo img.resize {
    width: 250px;
    height: auto;
}
section {
    padding: 40px;
    margin: 0 auto;
    display: inline;
}
footer {
    background-color: lavender;
    color: rgb(128, 92, 136);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    display: inline;
}

.resize {
    width: 100px;
    height: auto;
}


