body{
    background-color: lavender; 
    font-family: 'Times New Roman', Times, serif;
}
header{
    background-color: lavender;
    color: rgb(128, 92, 136);
    /* text-align: center;
    margin: 0 auto; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
p{
    background-color: lavender;
    color: rgb(128, 92, 136);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
nav {
    background-color: lavender;
    color: rgb(128, 92, 136);
    text-align: center;
    margin: 0 auto;
}
nav a{
    background-color: lavender;
    color: rgb(128, 92, 136);
    text-align: center;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.resize {
    width: 300px;
    height: auto;
}
.firstImage {
    width: 400px;
    height: auto;
    text-align: left;
    /* margin-left: 20px;  */
    margin-right: 100px;
}
.alignLeft {
    text-align: left;
    /* margin-left: 20px;  */
    margin-right: 100px;
}
.alignCenter {
    text-align: center;
    margin-left: 100px; 
}
.alignRight {
    text-align: right;
    margin-right: 100px; 
    /* margin-left: 20px; */
}
section {
    background-color: lavender;
    color: rgb(128, 92, 136);
    padding: 40px;
    margin: 0 auto;
    display: inline;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
footer {
    background-color: lavender;
    color: rgb(128, 92, 136);
    /* text-align: center; */
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    display: inline;
}
.container {
    text-align: center;
}

.container img {
    display: block;
    margin: 0 auto;
}

.container p {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}


